<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- parallel="tests"-->
<suite name="futureload" >
<!--    <test name="注册接口">-->
<!--        <classes>-->
<!--            <class name="day15ing.framework.cases.RegisterCase"></class>-->
<!--            <parameter name="sheetIndex" value="0"></parameter>-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="登录接口">-->
<!--        <classes>-->
<!--            <class name="day15ing.framework.cases.LoginCase"></class>-->
<!--            <parameter name="sheetIndex" value="1"></parameter>-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="充值接口">-->
<!--        <classes>-->
<!--            <class name="day15ing.framework.cases.RechargeCase"></class>-->
<!--            <parameter name="sheetIndex" value="2"></parameter>-->
<!--        </classes>-->
<!--    </test>-->
    <test name="注册接口">
        <classes>
            <class name="day15ing.framework.cases.RegisterCase"></class>
            <parameter name="sheetIndex" value="0"></parameter>
        </classes>
    </test>
    <test name="登录接口">
        <classes>
            <class name="day15ing.framework.cases.LoginCase"></class>
            <parameter name="sheetIndex" value="1"></parameter>
        </classes>
    </test>
    <test name="配置列表">
        <classes>
            <class name="day15ing.framework.cases.ConfiguresCase"></class>
            <parameter name="sheetIndex" value="2"></parameter>
        </classes>
    </test>
    <test name="项目列表">
        <classes>
            <class name="day15ing.framework.cases.ConfiguresCase"></class>
            <parameter name="sheetIndex" value="3"></parameter>
        </classes>
    </test>
    <test name="新增项目">
        <classes>
            <class name="day15ing.framework.cases.RechargeCase"></class>
            <parameter name="sheetIndex" value="4"></parameter>
        </classes>
    </test>

</suite>